#headerBar{
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	height:40px;
/*	background-color:#ECF0F1;
*/	z-index:8;
	background-color:#3D3C42;

}

#searchInput{
	position: absolute;
	top:5px;
	height:30px;
	width:360px;
	left:10px;
	font-size:18px;
	padding-left:30px;
	box-sizing:border-box;
	border-radius:5px 0px 0px 5px;
	z-index:9;
	font-family: 'Open Sans' !important;
	font-weight: 300;
}

#searchInputIcon{
	position: absolute;
	z-index:10;
	top:12px;
	left:15px;
}

#searchButton{
	position: absolute;
	top:5px;
	left:370px;
	width:100px;
	height:30px;
	font-size:12px;
	border-radius: 0px 5px 5px 0px;
	z-index: 9;
}

#searchResultsDiv{
	position: absolute;
	top:40px;
	padding-top:10px;
	left:-410px;
	width:367px;
	height:800px;
	background-color:#3D3C42;
	z-index:8;
	color:#ecf0f1;
	border-right:4px solid #211b0d;
}

#searchResultsClose{
	position: absolute;
	right:10px;
	top:5px;
	cursor: pointer;
}
#searchResultsName{
	position: absolute;
	left:10px;
	top:10px;
	font-size:18px;
}
#searchResultsType{
	position: absolute;
	left:10px;
	top:40px;
	font-size:12px;
}

#searchAddToMap{
	position: absolute;
	top:90px;
	height:90px;
	left:0px;
	width:390px;
}
#searchAddToMapIcon{
	position: absolute;
	left:10px;
	top:-16px;
}
#searchAddToMapBtn{
	position: absolute;
	top:0px;
	width:280px;
	left:50px;
	height:45px;
	font-size: 16px;
	line-height: 2;
}
#searchFoundData{
	position: absolute;
	left:10px;
	top:170px;
	font-size:14px;
}

#searchConnection{
	position: absolute;
	top:210px;
	height:50px;
	left:0px;
	width:390px;
}
#searchConnectionIcon{
	position: absolute;
	left:10px;
	top:0px;
}
#searchConnectionBtn{
	position: absolute;
	top:10px;
	width:280px;
	left:50px;
	height:36px;
}

#searchMolecules{
	position: absolute;
	top:270px;
	height:50px;
	left:0px;
	width:390px;
}

#searchMoleculesBtn{
	position: absolute;
	top:10px;
	width:280px;
	left:50px;
	height:36px;
}

#searchCellTypes{
	position: absolute;
	top:330px;
	height:50px;
	left:0px;
	width:390px;
}
#searchCellTypesBtn{
	position: absolute;
	top:10px;
	width:280px;
	left:50px;
	height:36px;
}

#searchMyNotesLabel{
	position: absolute;
	left:10px;
	top:380px;
	font-size:14px;
}

#searchMyNotes{
	position: absolute;
	left:10px;
	top:410px;
	width:340px;
	height:300px;
	border:1px solid #7f8c8d;
}

.yellowBtn
{
	color:#1E1E1E;
}


#userDiv{
	position:absolute;
	left:550px;
	top:10px;
	color:#FFF;
}

#mapCtrl{
	position:absolute;
	right:0px; 
	width:400px;
	height:50px;
	top:0px;
	border-radius:0px 0px 0px 10px;
}

#zoomSliderIcon{
	position:absolute;
	left:-15px;
	top:-2px;
	color:#FFF;
}

#zoomSlider{
	position:absolute;
	left:20px;
	width:368px;
	top:15px;
}

#layers
{
	position: fixed;
	right:0px;
	width:200px;
	top:40px;
	height:auto;
	/*background-color:#34495E;*/
	z-index:8;
	border-radius: 0px 0px 0px 10px;
}

#layerDetails
{
	position: fixed;
	right:190px;
	width:410px;
	top:40px;
	height:228px;
	background-color:#3D3C42;
	z-index:40;
	border-radius: 0px 0px 0px 10px;
}

#layerDetailsHeader
{
	position:absolute;
	left:59px;
	top:0px;
	font-size:20px;
	color:#FFF;
}

#layerDetailsRegionsBox
{
	position:absolute;
	left:40px;
	top:40px;
	width:350px;
	height:170px;
	font-size:20px;
	color:#FFF;
	overflow-y: scroll;
}

.layerDetailsRegions
{
	position:relative;
	left:0px;
	margin-top:3px;
	width:100%;
	height:30px;
}

.layerDetailsRegionsName
{
	position:relative;
	top:5px;
	float:left;
	width:auto;
	margin-right:10px;
	font-size:12px;
}

.layerDetailsRegionsFind
{
	position:relative;
	top:2px;
	float:right;
	width:auto;
	margin-right:10px;
	font-size:12px;
}

.layerDetailsRegionsView
{
	position:relative;
	top:2px;
	float:right;
	width:auto;
	margin-right:10px;
	font-size:12px;
	color:#424242;
}

#layerDetailsConnectionsBox
{
	position:absolute;
	left:60px;
	top:40px;
	width:330px;
	height:170px;
	font-size:20px;
	color:#FFF;
	overflow-y: scroll;
}

.layerDetailsConnections
{
	position:relative;
	left:0px;
	margin-top:3px;
	width:100%;
	height:30px;
	font-size:12px;
}

.layerDetailsConnectionsSource
{
	position:relative;
	top:5px;
	float:left;
	width:auto;
	margin-right:10px;
	font-size:14px;
}

#layerDetailsClose
{
	position: absolute;
	right:10px;
	top:2px;
	cursor:pointer;
}

#regionDetails
{
	position: fixed;
	right:0px;
	width:600px;
	top:258px;
	height:250px;
	background-color: #3D3C42;
}

#regionDetailsHeader
{
	position: absolute;
	left:20px;
	top:20px;
	font-size:24px;
	color:#FFF;
}

#regionDetailsActiveConnections
{
	position: absolute;
	left:20px;
	top:70px;
	font-size:12px;
	color:#FFF;
}

#regionDetailsConnectionsBox
{
	position:absolute;
	left:20px;
	top:90px;
	width:260px;
	height:150px;
	font-size:20px;
	color:#FFF;
	overflow-y: scroll;
}

#regionDetailsReferences
{
	position: absolute;
	left:300px;
	top:70px;
	font-size:12px;
	color:#FFF;	
}

#regionDetailsReferencesBox
{
	position:absolute;
	left:300px;
	top:90px;
	width:260px;
	height:150px;
	font-size:10px;
	color:#FFF;
	overflow-y: scroll;
}


#connectionDetails
{
	position: fixed;
	right:0px;
	width:600px;
	top:258px;
	height:250px;
	background-color: #3D3C42;
	color:#FFF;
}

#connectionDetailsTitle
{
	position:absolute; left:20px; top:10px; font-size:18px; font-weight: bold;
}

#connectionDetailsReportsBox
{
	position: absolute; left:20px; width:150px; top:60px; height:190px; overflow-y:scroll;
}

#connectionDetailsReports
{
	position:relative; padding-bottom:10px; width:100%; left:0px; height:15px; color:#424242; font-size: 12px;
}

#connectionDetailsImg
{
	position:absolute; left:240px; top:40px; width:300px; height:60px;
}

#connectionDetailsSourceAbbrev
{
	position:absolute; left:240px; top:120px; width:150px; font-size:22px; font-weight:bold;
}

#connectionDetailsSourceName
{
	position:absolute; left:220px; top:150px; width:200px; font-size:14px;
}

#connectionDetailsTargetAbbrev
{
	position:absolute; left:490px; top:120px; width:150px; font-size:22px; font-weight: bold;
}

#connectionDetailsTargetName
{
	position:absolute; left:450px; top:150px; width:200px; font-size:14px;
}

#connectionDetailsDescription
{
	position:absolute; left:200px; top:180px; width:400px; font-size:14px;
}

#connectionDetailsDescriptionMetadata
{
	position:absolute; left:200px; top:220px; width:400px; font-size:10px;
}


#layersHeader
{
	position: relative;
	top:0px;
	left:10px;
	font-size: 16px;
	color:#FFF;
}

#layerContainer
{
	position:relative;
	left:10px;
	width:180px;
	top:0px;
	background-color:#FFF;
	height:auto;
	/*margin-bottom:10px;*/
	/*border-right: 20px solid #3D3C42;*/
	padding-top:5px;
	padding-bottom:15px;
}

.layerCtrl
{
	position: relative;
	top:0px;
	height:16px;
	width:100%;
	background-color: #FFF;
}

.layerHead{
/*	cursor: pointer;
*/}

.layerRegionHeader
{
	width:90% !important;
	padding-left:10%;

}
.layerMoleculeHeader
{
	width:90% !important;
	padding-left:10%;
}
.layerCellTypeHeader
{
	width:90% !important;
	padding-left:10%;
}

.layerRegion
{
	width:80% !important;
	padding-left:20%;
}
.layerMolecule
{
	width:80% !important;
	padding-left:20%;
}
.layerCellType
{
	width:80% !important;
	padding-left:20%;
}

#layerAddLayer
{
	position:relative;
	left:10px;
	width:155px;
	top:9px;
	height:30px;
	margin-bottom:20px;
	font-size:14px;
}

#mapData
{
	position:absolute;
	left:250px;
	width:600px;
	top:200px;
	height:400px;
	background-color:#3D3C42;
	color:#bdc3c7;
	z-index:10;
	border-radius: 5px 5px 5px 0px;
	display:none;
}

#mapDataName
{
	position: absolute;
	left:10px;
	top:5px;
	font-size:22px;
}

/*#mapDataCurrentlyDisplaying
{
	position: absolute;
	left:10px;
	top:40px;
	font-size:14px;
}*/

#mapDataPartDetails
{
	position: absolute;
	left:10px;
	top:32px;
	font-size:12px;
}

#mapDataDefault
{
	position:absolute;
	left:10px;
	top:70px;
	height:30px;
}

.mapDataIcon
{
	margin-right:5px;
}

#mapDataDefaultCnx
{
	position:absolute;
	left:10px;
	top:50px;
	height:30px;
}

#mapDataDefaultCnxList
{
	position: absolute;
	left:6px;
	top:40px;
	height: 300px;
	width:160px;
	
}

#mapDataDefaultCnxListFlex
{
	position: relative;
	top:0px;
	width: 100%;
	height:auto;
	max-height: 220px;
	overflow-y: scroll;
}

.mapDataDefaultCnxListEntry
{
	position: relative;
	height:20px;
	width:80px;
}

.aff
{
	left:0px;
	text-align: right;
}

.eff
{
	left:61px;
	text-align: left;
}

.mapDataDefaultCnxListBtn
{
	position: relative;
	width:90%;
	margin-top: 5px;
}

#mapDataDefaultMols
{
	position:absolute;
	left:250px;
	top:50px;
	height:30px;
}

#mapDataDefaultMolsList
{
	position: absolute;
	left:6px;
	top:40px;
	height: 300px;
	width:160px;
	
}

#mapDataDefaultMolsListFlex
{
	position: relative;
	top:0px;
	width: 100%;
	height:auto;
	max-height: 220px;
	overflow-y: scroll;
}

.mapDataDefaultMolsListEntry
{
	position: relative;
	height:20px;
	width:80px;
}

#mapDataDefaultCells
{
	position:absolute;
	left:450px;
	top:50px;
	height:30px;
}

.mapDataViewDetails
{
	margin-left:10px; color:#424242; font-size:10px; font-weight: bold;
}

#mapDataDefaultAddData
{
	position:absolute;
	left:10px;
	top:205px;
	height:22px;
	width:355px;
	line-height: 1;
	font-size:20px;
}

#mapDataAddCnx
{
	position: absolute;
	left:10px;
	top:70px;
	width:120px;
	height:120px;
	border-radius: 5px;
}

.mapDataAddIcon
{
	position:absolute;
	left:40px;
	top:0px;
	width:52.8px;
	height:80px;
}

#mapDataAddCnxBtn
{
	position:absolute;
	left:-5px;
	width:120px;
	top:90px;
	height:20px;
	font-size:14px;
}

#mapDataAddMol
{
	position: absolute;
	left:150px;
	top:70px;
	width:120px;
	height:120px;
	border-radius: 5px;
}

#mapDataAddMolBtn
{
	position:absolute;
	left:10px;
	width:100px;
	top:90px;
	height:20px;
	font-size:14px;
}

#mapDataAddCell
{
	position: absolute;
	left:295px;
	top:70px;
	width:120px;
	height:120px;
	border-radius: 5px;
}

#mapDataAddCellBtn
{
	position:absolute;
	left:0px;
	width:100px;
	top:90px;
	height:20px;
	font-size:14px;
}

#mapDataViewPaper
{
	position: absolute;
	left:430px;
	top:70px;
	width:120px;
	height:120px;
	border-radius: 5px;
}

#mapDataViewPaperBtn
{
	position:absolute;
	left:0px;
	width:100px;
	top:90px;
	height:20px;
	font-size:14px;
}

#mapDataClose
{
	position: absolute;
	right:10px;
	top:5px;
	cursor:pointer;
	z-index:8;
}




#regionDetailsAddConnection
{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
}
#regionDetailsAddConnectionTitle
{
	position:absolute;
	left:10px;
	top:5px;
	width:500px;
	height:30px;
	font-size: 24px;
	color:#FFF;
}


#regionDetailsAddConnectionInputCount
{
	position: absolute;
	top:7px;
}

#regionDetailsAddConnectionOutputCount
{
	position: absolute;
	top:7px;	
}

#regionDetailsAddConnectionInputTitle
{
	position:absolute;
	left:10px;
	top:40px;
	width:250px;
	height:30px;
}

#regionDetailsAddConnectionInputView
{
	position:absolute;
	left:10px;
	top:80px;
	width:250px;
	height:270px;
	overflow-y:scroll;
}
#regionDetailsAddConnectionOutputTitle
{
	position:absolute;
	left:300px;
	top:40px;
	width:250px;
	height:30px;
	
}
#regionDetailsAddConnectionOutputView
{
	position:absolute;
	left:300px;
	top:80px;
	width:250px;
	height:270px;
}

#regionDetailsAddConnectionBtn
{
	position: absolute;
	right:10px;
	bottom:5px;
	width:250px;
	height:32px;
}

#regionDetailsAddConnectionDetails
{
	position:absolute;
	top:195px;
	left:0px;
	width:800px;
	height:300px;
	background-color: #3D3C42;
	border-radius:0px 5px 5px 5px;
}

#regionDetailsAddConnectionDetailsTitle
{
	position:absolute; left:20px; top:10px; font-size:18px; font-weight: bold;
}

#regionDetailsAddConnectionDetailsReportsBox
{
	position: relative; left:0%; width:100%; top:0px; margin-bottom: 20px;
}

.regionDetailsAddConnectionDetailsReports
{
	float:left; margin-bottom:3px; width:100px; margin-right:3px; font-size: 10px;
}

#regionDetailsAddConnectionDetailsLabels
{
	position: relative; left:0px; top:0px; height:60px; width:100%;
}

#regionDetailsAddConnectionDetailsSourceAbbrev
{
	position:absolute; left:150px; top:0px; font-size:22px; font-weight:bold;
}

#regionDetailsAddConnectionDetailsConnectionNames
{
	position:absolute; left:0px; top:30px; width:100%; font-size:12px; text-align: center;
}

#regionDetailsAddConnectionDetailsTargetAbbrev
{
	position:absolute; left:323px; top:0px; width:150px; font-size:22px; font-weight: bold;
}

#regionDetailsAddConnectionDetailsDescription
{
	position:relative; left:0%; top:20px; width:100%; font-size:16px; height:auto; margin-bottom: 100px;
}


#regionCnxDetailCnxBox
{
	float:left; top:0px; height:400px; width:169px; border-right:1px solid #DDD; overflow-y:scroll;
}

#regionCnxDetailDescription
{
	float:left; top:0px; height:400px; width:400px; margin: 5px;
}

#regionCnxDetailNotes
{
	float:left; top:0px; height:400px; width:290px;
}

#regionCnxDetailReportsBox
{
	position: relative; left:0%; width:100%; top:0px; margin-bottom: 20px;
}

.regionCnxDetailReports
{
	float:left; width:100px; margin-right:3px; margin-bottom:3px; font-size: 10px;
}

#regionCnxDetailLabels
{
	position: relative; left:0px; top:0px; height:30px; width:100%;
}

#regionCnxDetailLabelsConnectionAbbrevs
{
	position:relative; left:0px; top:0px; font-size:22px; font-weight:bold; width: 100%; text-align: center;
}

#regionCnxDetailLabelsConnectionNames
{
	position:relative; left:0px; top:0px; width:100%; font-size:12px; text-align: center;
}

#regionCnxDetailDescriptionText
{
	position:relative; left:0%; top:20px; width:100%; font-size:14px; height:auto; margin-bottom: 100px;
}

/*
//
//
//
//
//
Molecules
//
//
//
//
//
*/

#regionDetailsAddMoleculeTitle
{
	position:absolute;
	left:10px;
	top:40px;
	width:250px;
	height:30px;
	background-color: #F00;
}

#regionDetailsAddMoleculeInputView
{
	position:absolute;
	left:10px;
	top:80px;
	width:250px;
	height:270px;
	overflow-y:scroll;
	background-color: #F00;
}
#regionDetailsAddMoleculeOutputTitle
{
	position:absolute;
	left:300px;
	top:40px;
	width:250px;
	height:30px;
	background-color: #F00;
	
}
#regionDetailsAddMoleculeOutputView
{
	position:absolute;
	left:300px;
	top:80px;
	width:250px;
	height:270px;
	background-color: #F00;
}

#regionDetailsAddMoleculeBtn
{
	position: absolute;
	right:10px;
	bottom:5px;
	width:250px;
	height:32px;
}

#regionDetailsAddMoleculeDetails
{
	position:absolute;
	top:195px;
	left:0px;
	width:800px;
	height:300px;
	background-color: #3D3C42;
	border-radius:0px 5px 5px 5px;
	background-color: #F00;
}

#regionDetailsAddMoleculeDetailsTitle
{
	position:absolute; left:20px; top:10px; font-size:18px; font-weight: bold;
}

#regionDetailsAddMoleculeDetailsLabels
{
	position: relative; left:0px; top:0px; height:60px; width:100%;
}

#regionDetailsAddMoleculeDetailsSourceAbbrev
{
	position:absolute; left:150px; top:0px; font-size:22px; font-weight:bold;
}

#regionDetailsAddMoleculeDetailsConnectionNames
{
	position:absolute; left:0px; top:30px; width:100%; font-size:12px; text-align: center;
}

#regionDetailsAddMoleculeDetailsDescription
{
	position:relative; left:0%; top:20px; width:100%; font-size:16px; height:auto; margin-bottom: 100px;
}



#intxn{
	position: absolute; 
	width:960px;
	height:960px;
	top:0px;
	left:0px;
	background-color: #FFF;
	/*z-index:7;*/
}

#pins{
	position: absolute; 
	width:10%;
	height:10%;
	top:0px;
	left:0px;
	background-color: #FFF;
	z-index:7;
}

#connections{
	position: absolute;
	width:10%;
	height:10%;
	top:0px;
	left:0px;
	z-index:6;
}

#cells{
	position: absolute;
	width:10%;
	height:10%;
	top:0px;
	left:0px;
	z-index:5;
}
#molecules{
	position: absolute;
	width:20%;
	height:20%;
	top:0px;
	left:0px;
	z-index:4;
}
#regions{
	position: absolute;
	width:30%;
	height:30%;
	top:0px;
	left:0px;
	z-index:3;
}

.region{
	position: absolute;
}

.connection{
	position: absolute;
}

#mapDiv{
	position: absolute;
	width:960px;
	height:960px;
	top:0px;
	left:0px;
	z-index:2;
}

#masterDiv{
	position: relative;
	top:0px;
	width:960px;
	margin-right: auto;
	margin-left: auto;
	height:960px;
	z-index:1; 
}

.mapColumn
{
	position: relative; width:480px; top:0px; float:left;
}