#fp_api_main{
	position:absolute; left:0px; top:40px; width:100%; height:800px; color:#2C3E50;
}

#fp_api_login{
	position:absolute; left:550px; width:280px; top:400px; height:70px; line-height:3; font-size:22px;
}

input.fp_api_textInput{
	position:absolute; left:23%; width:65%; height:40px; font-size:22px !important; color:#424242; border:3px solid #2C3E50;
}

#fp_api_footer{
	position:absolute; left:60px; top:550px; font-size:18px; color:#2C3E50;
}

#fp_api_learnMore{
	position:absolute; left:550px; width:280px; top:660px; height:70px; line-height:3; font-size:22px;
}