#headerBar{
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	height:40px;
/*	background-color:#ECF0F1;
*/	z-index:8;
	background-color:#3D3C42;

}

#searchInput{
	position: absolute;
	top:5px;
	height:30px;
	width:360px;
	left:10px;
	font-size:18px;
	padding-left:30px;
	box-sizing:border-box;
	border-radius:5px 0px 0px 5px;
	z-index:9;
	font-family: 'Open Sans' !important;
	font-weight: 300;
}
#searchInputIcon{
	position: absolute;
	z-index:10;
	top:12px;
	left:15px;
}

#searchButton{
	position: absolute;
	top:5px;
	left:370px;
	width:50px;
	height:22px;
	font-size:16px;
	border-radius: 0px 5px 5px 0px;
	z-index: 9;
}

#searchResultsDiv{
	position: absolute;
	top:40px;
	padding-top:10px;
	left:-410px;
	width:367px;
	height:800px;
	background-color:#3D3C42;
	z-index:8;
	color:#ecf0f1;
	border-right:4px solid #211b0d;
}

#searchResultsClose{
	position: absolute;
	right:10px;
	top:5px;
	cursor: pointer;
}
#searchResultsName{
	position: absolute;
	left:80px;
	top:10px;
	font-size:20px;
}
#searchResultsType{
	position: absolute;
	left:80px;
	top:40px;
	font-size:14px;
}
#searchOtherResults{
	position: absolute;
	left:80px;
	top:60px;
	font-size:14px;
}
#searchAddToMap{
	position: absolute;
	top:110px;
	height:90px;
	left:0px;
	width:390px;
}
#searchAddToMapIcon{
	position: absolute;
	left:10px;
	top:0px;
}
#searchAddToMapBtn{
	position: absolute;
	top:0px;
	width:280px;
	left:50px;
	height:40px;
	font-size: 20px;
	line-height: 2;
}
#searchFoundData{
	position: absolute;
	left:10px;
	top:170px;
	font-size:14px;
}

#searchConnection{
	position: absolute;
	top:210px;
	height:40px;
	left:0px;
	width:390px;
}
#searchConnectionIcon{
	position: absolute;
	left:10px;
	top:0px;
}
#searchConnectionBtn{
	position: absolute;
	top:0px;
	width:280px;
	left:50px;
	height:20px;
}

#searchMolecules{
	position: absolute;
	top:260px;
	height:40px;
	left:0px;
	width:390px;
}

#searchMoleculesBtn{
	position: absolute;
	top:0px;
	width:280px;
	left:50px;
	height:20px;
}

#searchCellTypes{
	position: absolute;
	top:310px;
	height:40px;
	left:0px;
	width:390px;
}
#searchCellTypesBtn{
	position: absolute;
	top:0px;
	width:280px;
	left:50px;
	height:20px;
}

#searchMyNotesLabel{
	position: absolute;
	left:10px;
	top:360px;
	font-size:14px;
}

#searchMyNotes{
	position: absolute;
	left:10px;
	top:390px;
	width:340px;
	height:300px;
	border:1px solid #7f8c8d;
}


#userDiv{
	position:absolute;
	left:550px;
	top:10px;
	color:#FFF;
}

#mapCtrl{
	position:absolute;
	right:0px; 
	width:400px;
	height:50px;
	top:0px;
	border-radius:0px 0px 0px 10px;
}

#zoomSlider{
	position:absolute;
	left:20px;
	width:368px;
	top:15px;
}

#layers
{
	position: fixed;
	right:0px;
	width:200px;
	top:40px;
	height:auto;
	/*background-color:#34495E;*/
	z-index:8;
	border-radius: 0px 0px 0px 10px;
}

#layersHeader
{
	position: relative;
	top:0px;
	left:10px;
	font-size: 16px;
	color:#FFF;
}

#layerContainer
{
	position:relative;
	left:10px;
	width:180px;
	top:0px;
	background-color:#FFF;
	height:auto;
	/*margin-bottom:10px;*/
	border-right: 20px solid #3D3C42;
	padding-top:5px;
	padding-bottom:15px;
}

.layerCtrl
{
	position: relative;
	top:0px;
	height:16px;
	width:100%;
	background-color: #FFF;
}

.layerHead{
/*	cursor: pointer;
*/}

.layerRegionHeader
{
	width:90% !important;
	padding-left:10%;

}
.layerMoleculeHeader
{
	width:90% !important;
	padding-left:10%;
}
.layerCellTypeHeader
{
	width:90% !important;
	padding-left:10%;
}

.layerRegion
{
	width:80% !important;
	padding-left:20%;
}
.layerMolecule
{
	width:80% !important;
	padding-left:20%;
}
.layerCellType
{
	width:80% !important;
	padding-left:20%;
}

#layerAddLayer
{
	position:absolute;
	left:10px;
	width:155px;
	top:9px;
	height:24px;
	margin-bottom:20px;
	font-size:18px;
}

#intxn{
	position: absolute; 
	width:960px;
	height:960px;
	top:0px;
	left:0px;
	background-color: #FFF;
	z-index:7;
}

#connectons{
	position: absolute;
	width:10%;
	height:10%;
	top:0px;
	left:0px;
	z-index:6;
}

#cells{
	position: absolute;
	width:10%;
	height:10%;
	top:0px;
	left:0px;
	z-index:5;
}
#molecules{
	position: absolute;
	width:20%;
	height:20%;
	top:0px;
	left:0px;
	z-index:4;
}
#regions{
	position: absolute;
	width:30%;
	height:30%;
	top:0px;
	left:0px;
	z-index:3;
}

.region{
	position: absolute;
}

#mapDiv{
	position: absolute;
	width:960px;
	height:960px;
	top:0px;
	left:0px;
	z-index:2;
}

#masterDiv{
	position: relative;
	top:0px;
	width:960px;
	margin-right: auto;
	margin-left: auto;
	height:960px;
	z-index:1; 
}

.mapColumn
{
	position: relative; width:480px; top:0px; float:left;
}