body{
	font-family: 'Oxygen', sans-serif; font-weight: 300; background-color: #FFF; color:#424242;
}

#mainCTA
{
	position: relative; left:50px; top:170px; width:370px; height:60px; font-size: 34px;
}

#intro{
	position: absolute; left:0px; min-width:1200px; width:100%; z-index:1; background-image: url('../img/landing1.png'); background-size: 100%; background-repeat: no-repeat; background-color: #FFF;
}

#floatBanners
{
	float:left; width:10%; height:100%;
}

#floatBannerTop
{
	position: relative; left:0px; width:100%; background-color:#FFF; top:240px; height:80px;
}

#floatBannerBottom
{
	position: relative; left:0px; width:100%; background-color:#FFF; top:280px; height:75px;
}

#introTextArea
{
	float:left; width:80%; top:70px; height:900px; margin-bottom: 20px;
}

#introLogo
{
	position:relative; left:100px; top:110px; width:120px; height:120px;
}

#introText1
{
	position:relative; left:0px; top:120px; background-color:#FFF; width:320px; height:80px;
}

#introText2
{
	position:relative; left:0px; top:160px; background-color:#FFF; width:470px; height:75px; padding-top:10px;
}

#introText2Padding
{
	padding-left:50px; width:470px; font-size: 14px; line-height: 1; padding-top:10px;
}

#arrowDown{
	position: absolute; left:1000px; top:650px;
}

#introArrowPrompt
{
	position: absolute; left:984px; top:600px; background-color:rgba(255,255,255,.4); padding:10px; font-size: 18px;
}

#page2
{
	position: absolute; left:0px; top:900px; width:100%; height:900px; z-index:10; color:#424242;
}

#page2center
{
	position: relative; margin-left:auto; margin-right:auto; width:1280px; height:900px; padding-top:100px; margin-top:50px;
}

#page2Text
{
	font-size:18px; padding-left:0px; width:1100px;
}

#page3
{
	position: absolute; left:0px; top:1800px; width:100%; z-index:10;
}

#page3center
{
	position: relative; margin-left:auto; margin-right:auto; width:1280px; height:700px; padding-top:100px;
}

#page3title
{
	font-size:18px; padding-left:0px; width:1100px;
}

.page3Img
{
	position: absolute; top:250px; border-radius: 100px; cursor:pointer;
}

.page3description
{
	position: absolute; top:370px; width:140px; height:30px; font-weight: 700;
}

#page3conclusion
{
	position:absolute; top:520px; font-size:18px; padding-left:0px; width:1100px;
}
#player{
	position: relative;
}

#overlay
{
	z-index:100; background-color: rgba(255,255,255, .95); color:#424242; position: absolute; top:100px; width:1280px; height:728px; padding:30px;
}

#page4
{
	position: absolute; left:0px; top:2500px; width:100%; z-index:10;
}

#page4center
{
	position: relative; margin-left:auto; margin-right:auto; width:1280px; height:900px; padding-top:100px;
}